@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container" id="benches-section">
    <a class="font-weight-bold" asp-page="Create">+ Create </a>
    <table class="table table-bordered table-hover table">
        <thead>
            <tr>
                <th colspan="2">Benches</th>
            </tr>
        </thead>
        @foreach (var product in Model.Products)
        {
            <tbody>
                @if (product.LocationType == "Bench")
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>
                            <a class="font-weight-bold" asp-page="Read" asp-route-id="@product.Id">
                                <center><span class="read-icon">📖</span>Read</center>

                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<div class="container" id="restrooms-section">
    <a class="font-weight-bold" asp-page="Create">+ Create </a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="2">Restrooms</th>
            </tr>
        </thead>
        @foreach (var product in Model.Products)
        {
            <tbody>
                @if (product.LocationType == "Restroom")
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>
                            <a class="font-weight-bold" asp-page="Read" asp-route-id="@product.Id">
                                <center><span class="read-icon">📖</span>Read</center>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<div class="container">
    <a class ="font-weight-bold" asp-page="Create">+ Create </a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="2">Other Places</th>
            </tr>
        </thead>
        @foreach (var product in Model.Products)
        {
            <tbody>
                @if (product.LocationType == "Other")
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>
                            <a class="font-weight-bold" asp-page="Read" asp-route-id="@product.Id">
                                <center><span class="read-icon">📖</span>Read</center>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<div class="container">
    <a class="font-weight-bold" asp-page="Create">+ Create </a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="2">Tables</th>
            </tr>
        </thead>
        @foreach (var product in Model.Products)
        {
            <tbody>
                @if (product.LocationType == "Table")
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>
                            <a class="font-weight-bold" asp-page="Read" asp-route-id="@product.Id">
                                <center><span class="read-icon">📖</span>Read</center>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>