@page
@using ContosoCrafts.WebSite.Components
@model ExploreModel
@{
    ViewData["Title"] = "Explore page";
}

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Location Type: @Model.CurrentFilter
    </button>
    <ul class="dropdown-menu">
        <li><a href="/Explore?LocationType=All" class="btn @(Model.CurrentFilter == "All" ? "active" : "")">
            <i class="fas fa-star"></i> All</a></li>
        <li><a href="/Explore?LocationType=Bench" class="btn @(Model.CurrentFilter == "Bench" ? "active" : "")">
            <i class="fas fa-chair"></i> Benches</a></li>
        <li><a href="/Explore?LocationType=Restroom" class="btn @(Model.CurrentFilter == "Restroom" ? "active" : "")">
            <i class="fas fa-restroom"></i> Restrooms</a></li>
        <li><a href="/Explore?LocationType=Table" class="btn @(Model.CurrentFilter == "Table" ? "active" : "")">
            <i class="fas fa-couch"></i> Tables</a></li>
        <li><a href="/Explore?LocationType=Other" class="btn @(Model.CurrentFilter == "Other" ? "active" : "")">
            <i class="fas fa-ellipsis-h"></i> Other Places</a></li>
    </ul>
</div>
<br />
<br />

@(await Html.RenderComponentAsync<ProductList>(
    RenderMode.ServerPrerendered, new { Products = Model.Products }))

<script src="_framework/blazor.server.js"></script>
<script src="js/site.js"></script>