@page
@using TakeABreak.WebSite.Services
@using TakeABreak.WebSite.Models
@inject JsonFileProductService ProductService
@model SpotlightModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


<div class="container pb-3 pt-5">
    <div class="image-wrapper mt-5">
        <div class="wide-img-container">
            <img class="wide-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>
        </div>
        <!-- Rectangle with title overlaying the image -->
        <div class="slim-rectangle slim-rectangle2">
            <span class="rectangle-text"><h1 class="larger-title">Spotlight of the Month</h1></span>
        </div>
</div>
     
    <!-- Container for text and other content below the wide image -->
    <div class="container2">
        <h1 class="larger-title pt-4" style="font-size: 3em; color: #000" id="productTitle">@Model.Product.Title</h1> 
        <h5 class="font-weight-bold" id="placeNeighborhood">@Model.Product.Neighborhood</h5>
         <hr class="short-hr">

        <div class="volume-level pt-3 pb-2">
            <i class="fa-solid fa-volume-low mr-1 ml-1"></i>Noise Level: @Model.Product.NoiseLevel
        </div>
    </div> 
    
    <div class="vote-conteinr mb-5 mt-2">
        
    @{
            int currentRating = 0;
            int voteCount = 0;
            string voteLabel = "";
            if (Model.Product.Ratings == null)
            {
                currentRating = 0;
                voteCount = 0;
            }
            else
            {
                voteCount = Model.Product.Ratings.Count();
                voteLabel = voteCount > 1 ? "Reviews" : "Review";
                currentRating = Model.Product.Ratings.Sum() / voteCount;
            }
            System.Console.WriteLine($"Current rating for {Model.Product.Id}: {currentRating}");
            @for (int i = 1; i < 6; i++)
            {
                var currentStar = i;
                if (i <= currentRating)
                {
                    <span class="fas fa-chair checked space"></span>
                }
                else
                {
                    <span class="fas fa-chair space"></span>
                }
            }
            @if (voteCount == 0)
            {
                <span>No Reviews yet!</span>
            }
            else
            {
                <span>@voteCount @voteLabel</span>
            }
        }
    </div>
    
    <div class="container mb-sm-5">
        <div class="row align-items-end mb-sm-5">
            <!-- Image Column -->
            <div class="col-lg-6">
                <img src="SpotlightImage.webp" alt="illustration of space needle and bench" class="img-fluid">
            </div>
        
            <!-- Text Column -->
            <div class="col-lg-6 text-column">
                <h3 class="copy-header" style="color: #000">The Campus Corner Bench: A Window to Campus Life</h3> 
                <div class="recopy-text">
                    <p  style="color: #000">Tucked away in the heart of the Seattle University campus, the Campus Corner Bench is a prime spot for people watching. Overlooking the main walkway, yet shaded by mature trees, it's a favorite for students and faculty alike. It's not just a bench; it's a snapshot of campus life, a place where stories unfold, friendships form, and moments of solitude are cherished. From hurried students to leisurely chats, this bench sees it all, making it a special part of our campus community. As a bonus, the bench is surrounded by beautiful rhododendron blooms during the spring.</p>
                </div>
            </div>
        </div>
    </div>
<div class="container mb-5">
    <!-- Row for images on regular view -->
    <div class="row d-none d-lg-flex align-items-center">
        <!-- Column for the smaller images on regular view -->
        <div class="col-lg-6">
            <div style="opacity: 0.5;">
                <img src="/BenchSketch.webp" alt="Black and white sketch of bench and rhododendrons view 1" class="img-fluid">
            </div>
            <div style="opacity: 0.5;">
                <img src="/benchsketch2.webp" alt="Black and white sketch of bench and rhododendrons view 2" class="img-fluid">
            </div>
        </div>

        <!-- Column for the existing large image on regular view -->
        <div class="col-lg-6">
            <img src="/SiteImages/Benches/SUAutBench.webp" alt="Photo of bench in autumn surrounded by leaves" class="img-fluid" style=" border: 4px solid #29392EC6;">
            <p class="text-center mt-2 recopy-text caption"style="color: #000">The bench in all its glory on an autumn day</p>
        </div>
    </div>
    
    <!-- Row for images on mobile view -->
    <div class="row d-lg-none pb-sm-5">
        <!-- Column for the smaller images side-by-side on mobile view -->
            <div class="col-6" style="opacity: 0.5;">
                <img src="/BenchSketch.webp" alt="Black and white sketch of bench and rhododendrons view 1" class="img-fluid">
            </div>
            <div class="col-6" style="opacity: 0.5;">
                <img src="/benchsketch2.webp" alt="Black and white sketch of bench and rhododendrons view 2" class="img-fluid">
            </div>
            <!-- Column for the existing large image on mobile view -->
            <div class="col-12">
                <img src="/SiteImages/Benches/SUAutBench.webp" alt="Photo of bench in autumn surrounded by leaves" class="img-fluid" style=" border: 4px solid #29392EC6;">
                <!-- Caption for mobile view -->
                <p class="text-center mt-2 recopy-text caption"style="color: #000">The bench in all its glory on an autumn day</p>
            </div>
        </div>
            <div class="pb-5"></div>
</div>


    <div class="container bottom-container mb-2" style="position: relative;">
        <!-- Color Band -->
        <div class="color-band mb-3">
            <!-- Row for image and text, vertically centered -->
            <div class="row align-items-center mb-5-sm">
                <!-- Image Column -->
                <div class="col-lg-5 d-flex justify-content-center">
                    <div class="circle-wrapper">
                        <img src="Spotlight2.webp" alt="Illustration of space needle and bench, spotlighting as the feature of the month." class="img-fluid">
                    </div>
                </div>
   
                <!-- Text Column -->
                <div class="col-lg-7">
                    <div class="text-content mt-5" style="text-align: left; padding: 20px 15px; max-width: 100%;">
                        <h1 class="sub-title"><strong>Where to find it:</strong></h1>
                        <p class="recopy-text" style="font-family: 'Lato', sans-serif;">Located along the walking path, this bench is on the Upper Mall across from the entrance of the Administration Building.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Container for additional content below the main section -->
    <div class="container pb-5 mt-2"> 
        <div class="copy-img text-center"> 
            <iframe src="@Model.Product.MapURL" allowfullscreen></iframe>
        </div>
    </div>
</div>


